PORT=4000
NODE_ENV=development
DATABASE_URL="postgresql://username:password@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://username:password@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="your-jwt-secret-key"
JWT_EXPIRES_IN="7d"
CORS_ORIGIN="http://localhost:5173"
